amqp==5.3.1
asgiref==3.8.1
async-timeout==5.0.1
beautifulsoup4==4.13.4
billiard==4.2.1
celery==5.5.3
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron-descriptor==1.4.5
curl_cffi==0.11.4
Django==5.2.3
django-celery-beat==2.8.1
django-rest-framework==0.1.0
django-timezone-field==7.1
django_celery_results==2.6.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-yasg==1.21.10
frozendict==2.4.6
gunicorn==23.0.0
idna==3.10
inflection==0.5.1
joblib==1.5.2
kombu==5.5.4
multitasking==0.0.11
numpy>=2.0
packaging==25.0
pandas>=2.3.0
peewee==3.18.1
platformdirs==4.3.8
prompt_toolkit==3.0.51
protobuf==6.31.1
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.9.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
redis==6.2.0
requests==2.32.4
scikit-learn>=1.5.0
scipy>=1.13.0
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
threadpoolctl==3.6.0
typing_extensions==4.14.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.13
websockets==15.0.1
yfinance==0.2.64
python-decouple==3.8
dj-database-url==2.3.0
whitenoise==6.9.0
pandas-ta==0.4.71b0